@layer components {
    .element-blockquote {
        @apply border-l-4 border-primary pl-4 italic my-4 text-muted-foreground;
    }

    .element-ul {
        @apply list-disc pl-5;
    }

    .element-ol {
        @apply list-decimal pl-5;
    }

    .element-h1 {
        @apply text-4xl font-extrabold mt-6 mb-4;
    }

    .element-h2 {
        @apply text-3xl font-bold mt-4 mb-2;
    }
}